*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Work Sans', sans-serif;
  background: #f9f0ff;
  position: relative;
}

h1{
  font-size: 42px;
  font-weight: 700;
}

p{
  font-size: 14px;
  font-weight: 400px;
  color: #919090;
}

a{
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  color: #2f1533;
  transition: .3s ease;
}

a:hover{
  color: #ad02c0;
}

.container{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.bg-img{
  background-image: url("images/background-pattern-desktop.svg");
  width: 100%;
  height: 200px;
}

.main{
  background: white;
  max-width: 850px;
  padding: 40px 30px;
  margin: 15px;
  border-radius: 12px;
  box-shadow: 0px 10px 30px rgb(145, 144, 144, 0.4);
}

header{
  display: flex;
  margin-bottom: 30px;
  gap: 25px;
}

.star-icon{
  width: 30px;
}
.hr-line{
  border: none;
  height: 1px;
  background-color: #bdbcbc;
  margin: 25px 0px 25px 0px;
}

.question p{
  display: none;
  max-width: 460px;
  line-height: 1.3;
  margin-top: 15px;
}

.drop-down{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.plus-icon{
  width: 25px;
}

@media (min-width: 375px) {
  .question p{
    font-size: 13px;
  }
}
